.add-friend-container {

}
.add-friend-container button {
  font-family: var(--font-body);
  color: var(--main-blue-dark);
  background-color: var(--main-bg-light);
  padding: 0.5rem 1rem;
  border: 2px solid var(--main-blue-dark);
  border-radius: 5px;
  outline: none;
  transition: all 150ms ease-in-out;
  &:hover {
    border-color: var(--main-gold);
  }
  &:active {
    transform: scale(0.95);
    box-shadow: 0 0 3px var(--main-blue-dark);
  }
}

.friend-add-btn {

}