.add-friend-container {
  display: flex;

}
.add-friend-container button {
  font-family: var(--font-body);
  color: var(--main-blue-dark);
  background-color: var(--main-bg-light);
  padding: 0.5rem 1rem;
  border: 2px solid var(--main-blue-dark);
  border-radius: 5px;
  outline: none;
  transition: all 150ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    border-color: var(--main-gold);
  }
  &:active {
    transform: scale(0.95);
    box-shadow: 0 0 3px var(--main-blue-dark);
  }
}
.delete-icon,
.cancel-icon,
.ignore-icon,
.accept-icon,
.add-icon,
.add-friend-error > img {
  height: 25px;
}

.friend-add-btn {

}

.add-friend-error {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
}
.add-friend-spacer {
  flex-grow: 1;
  min-width: 1.25rem;
}
.add-friend-error > img {
  grid-column: 2;
}
.add-friend-error > p {
  grid-column: 3;
  margin: 0;
}