.change-post-container {
  padding: 0.5rem 1rem;
}
.change-post-container .form-input {
  margin: 0.5rem 0;
}
.change-post-container .form-input:nth-child(1),
.change-post-container .form-input:nth-child(2) {
  display: grid;
}
.change-post-container .form-input .input-title,
.change-post-container .form-input .input-content {
  color: var(--main-blue-dark);
  font-family: var(--font-body);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-blue-dark);
  border-radius: 5px;
  outline: none;
  &:focus {
    border-color: var(--main-gold);
  }
}
.change-post-container .form-input .input-title {
  font-family: var(--font-header);
}
.change-post-container fieldset {
  padding: 0;
  border: none;
  text-align: center;
}
.change-post-container legend {
  align-self: center;
}
.change-post-container fieldset > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}
.change-post-container fieldset > div > input {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--main-grey-light);
    margin: 0 1rem 0 0;
    height: 1rem;
    width: 1rem;
    color: var(--main-blue-dark);
    border: 2px solid var(--main-blue-dark);
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
    &:checked {
      background-color: var(--main-gold);
      border: 1px solid var(--main-blue-dark);
      box-shadow: 0 0 3px var(--main-blue-dark);
    }
    /* &::before {
      need to fix the "add" button -> the input width is big and messes up the display!!!
      need to style the cancel and save buttons at the bottom to match the rest
      need to decide about radio button size and border
      content: "";
      width: 0.65em;
      height: 0.65em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms all ease-in-out;
      box-shadow: inset 1em 1em var(--main-blue-dark);
    } */
    
}
.change-post-container fieldset > div > label {
  margin: 0;
  &:hover {
    cursor: pointer;
  }
}
.change-post-container fieldset div {
  margin: 0.25rem 0;
}
.change-post-container .photo-file-input > input {
  visibility: hidden;
}
.change-post-container .photo-file-input label {
  border: 2px solid var(--main-blue-dark);
  border-radius: 5px;
  color: var(--main-blue-dark);
  padding: 0.5rem 1rem;
  margin: 1rem;
  transition: all 200ms ease;
  &:hover {
    cursor: pointer;
    border-color: var(--main-gold);
  }
  &:active {
    transform: scale(0.95);
  }
}
.change-post-container .form-input .photo {
  font-family: var(--font-body-thin);
}
.change-post-container .photo-preview > img {
  object-fit: cover;
  max-width: 80vw;
}