.edit-profile-container {
  padding: 0 1rem;
  background-color: rgba(229, 229, 229, 0.5);
  width: calc(100vw - 2rem);
}
.edit-profile-container .edit-profile-mode {
  text-transform: uppercase;
  font-family: var(--font-header);
  letter-spacing: 0.05rem;
}
.edit-profile-container .form-input {
  margin: 0.5rem 0;
}
.edit-profile-container .form-input:nth-child(1),
.edit-profile-container .form-input:nth-child(2),
.edit-profile-container .form-input:nth-child(3) {
  display: grid;
}
.edit-profile-container .form-input .first,
.edit-profile-container .form-input .family,
.edit-profile-container .form-input .bio {
  color: var(--main-blue-dark);
  font-family: var(--font-body);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-blue-dark);
  border-radius: 5px;
  outline: none;
}
.edit-profile-container .form-input .first:focus,
.edit-profile-container .form-input .family:focus,
.edit-profile-container .form-input .bio:focus {
  border-color: var(--main-gold);
}
.edit-profile-container .form-input .input-first-name {
  font-family: var(--font-header);
}
.edit-profile-container .form-input .bio {
  resize: none;
}
.edit-profile-container fieldset {
  padding: 0;
  border: none;
  text-align: center;
  margin-top: 1rem;
}
.edit-profile-container legend {
  align-self: center;
}
.edit-profile-container fieldset > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}
.edit-profile-container fieldset > div > input {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--main-bg-color);
  margin: 0 1rem 0 0;
  height: 1rem;
  width: 1rem;
  color: var(--main-blue-dark);
  outline: 2px solid var(--main-blue-dark);
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
.edit-profile-container fieldset > div > input:hover {
  cursor: pointer;
}
.edit-profile-container fieldset > div > input:checked {
  background-color: var(--main-gold);
  border: 2px solid var(--main-bg-color);
  box-shadow: 0 0 3px var(--main-blue-dark);
}
.edit-profile-container fieldset > div > input:active {
  transform: scale(0.97);
  box-shadow: 0 0 3px var(--main-blue-dark);
}
.edit-profile-container fieldset > div > label {
  margin: 0;
  padding: 0.5rem 0;
}
.edit-profile-container fieldset > div > label:hover {
  cursor: pointer;
}
.edit-profile-container fieldset div {
  margin: 0;
}
.edit-profile-container .photo-file-input > input {
  visibility: hidden;
  width: 0;
}
.edit-profile-container .photo-file-input label {
  font-family: var(--font-body);
  font-size: 0.8rem;
  color: var(--main-blue-dark);
  background-color: var(--main-grey-light);
  border: 2px solid var(--main-blue-dark);
  padding: 0.625rem 1.25rem;
  margin: 1rem;
  border-radius: 5px;
  transition: all 200ms ease;
}
.edit-profile-container .photo-file-input label:hover {
  cursor: pointer;
  border-color: var(--main-gold);
}
.edit-profile-container .photo-file-input label:active {
  transform: scale(0.95);
}
.edit-profile-container .form-input .photo {
  font-family: var(--font-body-thin);
}
.edit-profile-container #image-preview > img {
  object-fit: cover;
  max-width: 80vw;
  border-radius: 10px;
}
.edit-profile-container button {
  font-family: var(--font-body);
  color: var(--main-blue-dark);
  background-color: var(--main-grey-light);
  border: 2px solid var(--main-blue-dark);
  outline: none;
  padding: 0.75rem 1.5rem;
  margin: 1rem;
  border-radius: 5px;
  transition: all 200ms ease;
}
.edit-profile-container button:hover {
  border-color: var(--main-gold);
}
.edit-profile-container button:active {
  transform: scale(0.95);
  box-shadow: 0 0 3px var(--main-blue-dark);
}
@media screen and (min-width: 464px) {
  .edit-profile-container {
    width: 85vw;
    max-width: 650px;
    border-radius: 10px;
    margin: 1rem 0 10vh 0;
    box-shadow: 0 0 3px 2px var(--main-blue-dark);
  }
  .edit-profile-container #image-preview > img {
    width: 80vw;
    max-width: 550px;
  }
}
@media screen and (min-width: 1000px) {
  .edit-profile-container {
    grid-area: 1/1/2/3;
    justify-self: center;
  }
}