
.friend-list-content {
  margin: 0.5rem 1rem;
}
.friend-list-content .content-loading {
  padding-top: 1rem;
  margin-top: 0;
}
.friend-list-content > ul {
  padding: 0;
  margin: 0;
}
.friend-list-content > ul > li {
  list-style: none;
}
.friend-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friend-name-link {
  display: flex;
  align-items: center; 
}
.friend-name-link:hover p {
  color: var(--main-gold);
  text-decoration: underline;
}
.friend-name-link p {
  margin: 0.75rem 0;
  transition: all 150ms ease-in-out;
}
.friend-name-link > img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 0.5rem;
}
.friend-name-link .account-icon {
  filter: var(--filter-blue);
}
.friend-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.friend-error-container > img {
  height: 25px;
  filter: var(--filter-blue);
}
.friend-error-container > p {
  margin: 0.5rem 1rem;
}
@media screen and (min-width: 1000px) {
  .friend-list-container {
    justify-self: start;
  }
  
}