.friend-list-title {
  font-size: 1.25rem;
}
.friend-list-content > ul > li {
  list-style: none;
}
.friend-name-link {
  display: flex;
  align-items: center; 
}
.friend-name-link > img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
}