.friend-list-container {
  width: calc(100vw - (2rem + 2px));
  margin: 0 1rem;
}
.friend-list-container .friend-list-title {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-family: var(--font-header);
  text-shadow: 0 0 3px var(--main-blue-dark);
  color: var(--main-grey-light);
}
.friend-list-content {
  background-color: rgba(229, 229, 229, 0.7);
  border: 1px solid var(--main-blue-dark);
  border-radius: 10px;
  margin-bottom: 10vh;
  box-shadow: 0 0 3px 0px var(--main-blue-dark);
}
.friend-list-content .content-loading {
  padding-top: 1rem;
  margin-top: 0;
}
.friend-list-content > ul {
  padding: 0;
  margin: 0;
}
.friend-list-content > ul > li {
  list-style: none;
}
.friend-list-content .friend-error-container {
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  border-radius: 5px;  
}
.friend-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.35rem;
}
.friend-name-container .friend-name-loading {
  margin: 0.5rem auto;
}
.friend-name-link {
  display: flex;
  align-items: center; 
}
.friend-name-link:hover p {
  color: var(--main-gold);
  text-decoration: underline;
}
.friend-name-link p {
  margin: 0.75rem 0;
  transition: all 150ms ease-in-out;
}
.friend-name-link > img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 0.5rem;
}
.friend-name-link .account-icon {
  filter: var(--filter-blue);
}
.friend-list-container .friend-list-content > ul > li:nth-child(even) {
  background-color: rgba(229, 229, 229, 0.9);
}
.friend-list-container .friend-list-content > ul > li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.friend-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.friend-error-container > img {
  height: 25px;
  filter: var(--filter-blue);
}
.friend-error-container > p {
  margin: 0.5rem 1rem;
}
.friend-list-container .spinner-loading-container {
  margin: 1.5rem;
  box-shadow: none;
  border: none;
  background-color: var(--main-grey-fade); 
}
.friend-list-container .spinner-loading-container > img {
  height: 35px;
}
.friend-name-container .friend-name-loading {
  display: flex;
  justify-content: center;
  align-content: center;
}
.friend-name-container .friend-loader-element {
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  content: "";
  background-color: var(--main-blue-dark);
  border-radius: 100%;
  margin: 0.75rem;
}
.friend-loader-element:nth-child(1) {
  animation: miniloading .6s ease-in-out alternate infinite;
}
.friend-loader-element:nth-child(2) {
  animation: miniloading .6s ease-in-out alternate .2s infinite;
}
.friend-loader-element:nth-child(3) {
  animation: miniloading .6s ease-in-out alternate .4s infinite;
}
@keyframes miniloading {
  100% { transform: scale(2); }
}
@media screen and (min-width: 464px) {
  .friend-list-container {
    max-width: 80vw;
  }
  .friend-name-container {
    padding: 0.5rem 2rem;
  }
  .friend-list-content {
    border-width: 2px;
  }
}
@media screen and (min-width: 1000px) {
  .friend-list-container {
    margin: 1rem 0 2rem 0;
    display: grid;
    place-items: center;
    max-width: 800px;
  }
  .friend-list-container .friend-list-title {
    margin: 1rem 0;
  }
  .friend-list-content {
    width: 60vw;
    max-width: 750px;
    margin: 0;
  }
  .friend-name-container {
    padding: 0.5rem;
  }
}