.home-container {
  min-height: calc(100vh - 64px);
  padding-bottom: 10vh;
}
.home-content .title-container {
  border-bottom: none;
  padding-bottom: 0.25rem;
}
.title-container .title-blur-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: transparent;
  backdrop-filter: blur(0.1rem);
  -webkit-backdrop-filter: blur(0.1rem);
}
.home-content .image-blur-container {
  border-top: 0.5rem solid var(--main-gold);
  border-bottom: 0.5rem solid var(--main-gold);
  border-radius: 10%;
  padding: 0 1.5rem;
  margin: 1rem auto;
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content .title-blur-container > div > img {
  width: calc(90vw - 5rem);
  max-width: 600px;
  object-fit: cover;
  padding: 1rem 1.5rem;
  color: var(--main-text-lite);
  background-color: var(--main-blue-dark);
  backdrop-filter: blur(0.1rem);
  -webkit-backdrop-filter: blur(0.1rem);
  border-radius: 5px;
}
.home-content .title-blur-container > h1 {
  font-family: var(--font-header);
  text-transform: uppercase;
  margin: 0.5rem 0 1rem 0;
}
.spinner-loading-container {
  margin: 1em auto;
  position: relative;
}
.spinner-loading-container > img {
  height: 60px;
}
@media screen and (min-width: 1000px) {
  .home-container {
    grid-area: 1/1/2/3;
  }
}
@media screen and (min-width: 700px) {
  .home-content .image-blur-container {
    border-top: 0.75rem solid var(--main-gold);
    border-bottom: 0.75rem solid var(--main-gold);
    padding: 0 3rem;
  }
  .home-content .title-blur-container > div > img {
    width: calc(90vw - 8rem);
  }
}