.like-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  background-color: var(--main-blue-dark);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.like-container p {
  color: var(--main-text-lite);
  font-size: 12px;
  margin: 0.5rem auto;
}
.like-btn-container {
  display: flex;
  justify-content: center;
  margin-right: 0.75rem;
}
.like-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-grey-light);
  font-family: var(--font-body);
  width: 100px;
  border: 2px solid var(--main-blue-dark);
  border-radius: 5px;
  outline: none;
  transition: all 200ms ease;
  &:hover {
    cursor: pointer;
    border: 2px solid var(--main-grey-light);
  }
  &:active {
    transform: scale(0.95);
  }
}
.like-container button > p {
  color: var(--main-blue-dark);
}
.like-icon {
  height: 25px;
  margin: 0.25rem;
  filter: invert(14%) sepia(10%) saturate(2929%) hue-rotate(176deg) brightness(96%) contrast(91%);
}