.content {
  min-height: calc(100vh - 64px);
  background-color: transparent;
}
.login-container {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  padding-bottom: 1rem;
  background-color: rgba(229, 229, 229, 0.5);
  backdrop-filter: blur(0.1rem);
  -webkit-backdrop-filter: blur(0.1rem);
}
.title-container {
  padding-top: 0.75rem;
  margin:0;
  border-bottom: 2px solid var(--main-gold);
}
.login-container .title-container {
  background-color: var(--main-blue-dark);
}
.title-container > img {
  width: 90vw;
  max-width: 600px;
  object-fit: cover;
  padding: 1rem 0;
  color: var(--main-text-lite);
  border-top: 5px solid var(--main-gold);
  border-bottom: 5px solid var(--main-gold);
  border-radius: 10%;
}
.title-container > h1 {
  font-family: var(--font-header);
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0.5rem;
  color: var(--main-grey-light);
}
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}
.login-position {
  min-width: 300px;
}
.local-login {
  width: inherit;
}
.login-content .form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}
.form-group > label {
  align-self: flex-start;
  margin-left: 0.5rem;
}
.form-group > input {
  font-size: 1rem;
  font-family: var(--font-body-thin);
  padding: 0.35rem 0.75rem;
  background-color: var(--main-grey-light);
  color: var(--main-blue-dark);
  border: 2px solid transparent;
  border-radius: 2rem;
  box-shadow: 0 0 2px var(--main-blue-dark);
  transition: all 100ms ease;
  &:focus {
    box-shadow: 0 0 2px var(--main-blue);
    outline: 1px solid var(--main-blue);
  }
}
.login-content button {
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 600;
  width: calc(100% - 2rem);
  color: var(--main-text-dark);
  background-color: var(--main-grey-light);
  text-align: center;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 1rem;
  border: 1px solid var(--main-blue-dark);
  border-radius: 2rem;
  box-shadow: 2px 2px 1px var(--main-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease;
  &:hover {
    background-color: var(--main-blue-dark);
    color: var(--main-text-lite);
  }
  &:active {
    transform: scale(0.95);
    box-shadow: 0 0 3px var(--main-blue-dark);
  }
}
.local-login > button {
  padding: 0;
}
.local-login > button > span {
  padding: 0.5rem 0.75rem;
}
.local-login-loading, 
.signup-loading {
  display: flex;
  justify-content: center;
  align-content: center;
}
.local-login-loading .friend-loader-element,
.signup-loading .friend-loader-element {
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  content: "";
  background-color: var(--main-blue-dark);
  border-radius: 100%;
  margin: 0.75rem;
}
.friend-loader-element:nth-child(1) {
  animation: miniloading .6s ease-in-out alternate infinite;
}
.friend-loader-element:nth-child(2) {
  animation: miniloading .6s ease-in-out alternate .2s infinite;
}
.friend-loader-element:nth-child(3) {
  animation: miniloading .6s ease-in-out alternate .4s infinite;
}
@keyframes miniloading {
  100% { transform: scale(2); }
}
.local-login > button > img {
  height: 35px;
  margin: 0;
  opacity: 1;
}
.local-login-error {
  filter: invert(30%) sepia(95%) saturate(4337%) hue-rotate(341deg) brightness(73%) contrast(112%);
}
.local-login-success {
  filter: var(--filter-gold);
}
.facebook-login,
.google-login,
.guest-login,
.create-acct-container {
  width: 100%;
}
.facebook-login > button,
.google-login > button {
  padding: 0;
  &:hover img {
    filter: invert(99%) sepia(0%) saturate(482%) hue-rotate(150deg) brightness(117%) contrast(80%);
  }
}
.facebook-login img,
.google-login img {
  height: 35px;
  margin: 0 0.5rem;
  filter: invert(14%) sepia(10%) saturate(2929%) hue-rotate(176deg) brightness(96%) contrast(91%);
}
.or-divider h3 {
  margin: 0.25rem;
}
.oauth-error > div {
  display: flex;
  align-items: center;
}
.oauth-error img {
  height: 30px;
  margin: 0.25rem 0.5rem;
  filter: invert(14%) sepia(10%) saturate(2929%) hue-rotate(176deg) brightness(96%) contrast(91%);
}
@media screen and (min-width: 464px) {
  .content {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .login-container {
    border-radius: 10px; 
    box-shadow: 0 0 0.1rem 1px;
  }
  .login-container .title-container {
    max-width: 500px;
    width: calc(100vw - 10px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .login-container .title-container > img {
    max-width: 400px;
    width: calc(90vw - (4rem + 10px));
    margin: 0.5rem 2rem;
  }
  .login-content {
    max-width: 400px;
  }
  .login-container .signup-container {
    width: 335px;
  }
}
@media screen and (min-width: 1000px) {
  .content {
    max-width: 1200px;
  }
  .login-container {
    max-width: 500px;
    grid-area: 1/1/2/3;
    justify-self: center;
  }
}
