.content {
  background-color: var(--main-grey-light);
}
.login-container {
  padding-bottom: 1rem;
}
.title-container {
  margin:0;
  background-color: var(--main-blue);
  border-bottom: 2px solid var(--main-gold);
  box-shadow: 0 0 10px var(--main-gold);
}
.title-container > img {
  width: 90vw;
  max-width: 600px;
  object-fit: cover;
  padding: 1rem 0;
  color: var(--main-text-lite);
  border-top: 5px solid var(--main-gold);
  border-bottom: 5px solid var(--main-gold);
  border-radius: 10%;
}
.title-container > h1 {
  font-family: var(--font-body);
  font-size: 2rem;
  margin: 0.5rem;
  color: var(--main-grey-light);
  text-shadow: 2px 1px 0px var(--main-blue-dark);
}
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-position {
  min-width: 300px;
}
.local-login {
  width: inherit;
}
.login-content .form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}
.form-group > label {
  align-self: flex-start;
  margin-left: 0.5rem;
}
.form-group > input {
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  background-color: var(--main-off-white);
  color: var(--main-grey);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 3px var(--main-blue-dark);
  &:focus {
    outline: 1px solid var(--main-gold);
    box-shadow: 0 0 3px var(--main-gold);
  }
}
.login-content button {
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 600;
  width: calc(100% - 2rem);
  color: var(--main-text-dark);
  background-color: transparent;
  text-align: center;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 1rem;
  border: 1px solid var(--main-blue-dark);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease;
  &:hover {
    background-color: var(--main-blue-dark);
    color: var(--main-text-lite);
  }
}
.facebook-login,
.google-login,
.guest-login,
.create-acct-container {
  width: 100%;
}
.facebook-login > button,
.google-login > button {
  padding: 0;
  &:hover img {
    filter: invert(99%) sepia(0%) saturate(482%) hue-rotate(150deg) brightness(117%) contrast(80%);
  }
}
.facebook-login img,
.google-login img {
  height: 35px;
  margin: 0 0.5rem;
  filter: invert(14%) sepia(10%) saturate(2929%) hue-rotate(176deg) brightness(96%) contrast(91%);
}
.or-divider h3 {
  margin: 0.25rem;
}