.post-container {
  width: calc(100vw - (2rem + 2px));
  margin: 0.5rem auto;
  border: 1px solid var(--main-blue-dark);
  border-radius: 10px;
  background-color: rgba(229, 229, 229, 0.7);
  box-shadow: 0 0 3px 0.5px var(--main-blue-dark);
  transition: all 150ms ease-in-out;
  &:hover {
    background-color: rgba(229, 229, 229, 0.9);
  }
}
.post-title-container  {
  display: flex;
  justify-content: center;
}
.post-title-container .post-title {
  font-family: var(--font-header);
  text-transform: uppercase;
  margin: 0 0 0.5rem 0;
}
.post-container .post-title::after {
  background-color: var(--main-gold);
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  border-radius: 5px;
  position: relative;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  width: 100%;
}
.post-container > a:hover .post-title::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}
.post-container > a:hover {
  color: var(--main-blue-dark);
}
.post-container .post-content {
  font-family: var(--font-body-thin);
  margin: 1rem;
}
.post-container .post-content-text {
  margin: 0.5rem;
}
.post-container .like-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.post-container .post-author a:hover {
  color: var(--main-gold);
}
@media screen and (min-width: 464px) {
  .post-container {
    border-width: 3px;
    max-width: 80vw;
  }
}
@media screen and (min-width: 1000px) { 
  .post-container {
    width: 60vw;
    max-width: 750px;
  }
}