.profile-content {
  padding-top: 1rem;
}
.profile-content .profile-picture {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px var(--main-blue-dark);
}
.profile-content .profile-title {
  margin: 0.5rem;
  color: var(--main-grey-light);
  font-family: var(--font-header);
  text-shadow: 0 0 3px var(--main-blue-dark);
} 
.profile-content .about-me-container {
  background-color: var(--main-gold);
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px var(--main-blue-dark);
}
.profile-content .about-me-container > h4 {
  font-family: var(--font-header);
  font-size: 1rem;
  margin: 0.5rem;
}
.profile-content .about-me-container > p {
  font-family: var(--font-body-thin);
  margin: 0.5rem 0.5rem 0.5rem 0.25rem;
}
.profile-edit-button {
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--main-blue-dark);
  background-color: var(--main-grey-light);
  padding: 0.75rem 1.5rem;
  margin: 1rem;
  border: 2px solid var(--main-blue-dark);
  border-radius: 5px;
  outline: none;
  transition: all 200ms ease;
   &:hover {
    border-color: var(--main-gold);
   }
   &:active {
    transform: scale(0.95);
    box-shadow: 0 0 3px var(--main-blue-dark);
   }
}
.profile-posts-title {
  margin: 0.5rem;
  font-size: 1.5rem;
  font-family: var(--font-header);
  text-shadow: 0 0 3px var(--main-blue-dark);
  color: var(--main-grey-light);
}
.edit-profile-mode {
  margin: 0 0.5rem 0.5rem 0.5rem;
  padding-top: 1rem;
}
.profile-posts-container .spinner-loading-container {
  padding: 2rem 4rem 1.5rem 4rem;
}
.profile-posts-container .errors-container {
  max-width: 288px;
  padding: 1rem 3rem 2rem 3rem;
  background-color: rgba(229, 229, 229, 0.7);
  margin-bottom: 2rem;
  border-radius: 5px;
}
@media screen and (min-width: 464px) { 
  .profile-content .profile-picture {
    height: 300px;
  }
  .profile-content-container {
    max-width: 700px;
    justify-self: center;
  }
  .profile-content .about-me-container { 
    margin: 0.5rem 2.5rem;
  }
}
@media screen and (min-width: 1000px) { 
  .profile-content-container {
    grid-area: 1/1/2/3;
    width: 90vw;
    max-width: 1200px;
  }
  .profile-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    place-items: center;
  }
  .profile-content .profile-picture {
    height: 400px;
    grid-area: 1/1/3/2;
  }
  .profile-content .about-me-container {
    margin-bottom: 0;
    min-height: 250px;
    width: 33vw;
    max-width: 550px;
    border-radius: 10px;
  }
  .profile-content .add-friend-container {
    grid-area: 3/1/4/3;
  }
  .profile-posts-container {
    grid-area: 2/1/3/2;
    max-width: 800px;
    justify-self: center;
  }
  .friend-list-container {
    grid-area: 2/2/3/3;
  }
  .spinner-loading-container {
    margin: 3rem;
    grid-area: 1/1/2/3;
    align-self: flex-start;
  }
}