.userlistDiv {
  margin: 5vh 0;
  display: grid;
}
.user-list-container {
  margin: auto 1rem;
  padding: 1rem 0 0 0;
  background-color: rgba(229, 229, 229, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 3px 1px var(--main-blue-dark);
}
.user-list-container > h1 {
  margin: 0 0 1rem 0;
  font-family: var(--font-header);
  font-size: 2.75rem;
  text-decoration: 2px underline;
}
.userUnit-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 1rem;
  border-radius: 3px;
}
.userUnit-container > a {
  transition: all 150ms ease-in-out;
  &:hover {
    color: var(--main-gold);
    text-decoration: underline;
  }
}
.userUnit-content {
  display: grid;
  grid-template-columns: 3fr 5fr;
  align-items: center;
  justify-items: start;
}
.userUnit-content > img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userUnit-content .account-icon {
  filter: var(--filter-blue);
}
.userUnit-container > a:hover .account-icon {
  filter: var(--filter-gold);
}
.userUnit-container .add-friend-container {
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background-color: transparent;
}
.userUnit-container .friend-status {
  margin-right: 0;
}
.loading-page {
  margin: auto;
  padding-top: 1rem;
}
.userUnit-container:nth-child(odd) {
  background-color: rgba(229, 229, 229, 0.9);
}
@media screen and (min-width: 464px) {
  .user-list-container {
    width: 80vw;
    max-width: 600px;
    justify-self: center;
    align-self: start;
    margin: auto;
  }
  .userUnit-container {
    padding-left: 2rem;
  }
  .userUnit-content > h4 {
    font-size: 1.15rem;
    margin: 1.25rem 0.75rem;
  }
}
@media screen and (min-width: 1000px) {
  .content .loading-page {
    grid-area: 1/1/2/3;
    justify-self: center;
  }
  .user-list-container {
    grid-area: 1/1/2/3;
  }
  .userUnit-content > h4 {
    font-size: 1.25rem;
  }
  .userUnit-container .add-friend-container > button > img {
    height: 35px;
  }
}